# ---- Core Data Science ----
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost

# ---- Football Visualization ----
mplsoccer

# ---- Data Sources ----
statsbombpy


# ---- Development ----
jupyter
